//sidebar
$menuBg:#073a79;
$menuTextColor:#97c3f2;
$menuActiveTextColor:#fff;
$menuActiveBg:#0087e1;
$subMenuBg:#2E363F;
$menuHover:#fff;
$menuHoverBg:#0087e1;
$mainBdColor:#ebebeb;
$mainTextColor:#7d7d7d;
$mainTextWeColor:#676767;
$linkColor:#108DE9;